albumentations==2.0.3
einops==0.8.0
mlflow==2.20.1
mlflow-skinny==2.20.1
omegaconf==2.3.0
openai-clip==1.0.1
opencv-python-headless==4.11.0.86
packaging==24.2
pandas==2.2.3
pytorch-lightning==2.5.0.post0
scikit-learn==1.6.1
scipy==1.15.1
timm==1.0.14
tokenizers==0.21.0
torch==2.2.0
torchaudio==2.2.0
torchmetrics==1.6.1
torchvision==0.17.0
tqdm==4.67.1
transformers==4.48.2
triton==2.2.0
